<p-dialog
    styleClass="w-11 sm:w-22rem"
    [(visible)]="isVisible"
    [modal]="true"
    [draggable]="false"
    [closeOnEscape]="false"
    [closable]="false">
    <ng-template pTemplate="header">
        <h2 class="mt-0 mb-0">Forfeit</h2>
    </ng-template>
    <div class="mb-4" style="white-space: pre-line">
        <span>
            <p class="m-0">{{ message }}</p>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex w-full justify-content-end gap-4">
            <p-button type="button" label="Forfeit" severity="danger" [outlined]="true" (click)="onForfeit()" />
            <p-button type="button" label="Cancel" severity="contrast" [outlined]="true" (click)="onCancel()" />
        </div>
    </ng-template>
</p-dialog>
