# This is a sample environment configuration file.
# Copy this file to .env and replace the placeholder values with your own.
MONGO_URI=mongodb+srv://${MONGO_USERNAME}:${MONGO_PASSWORD}@{CLUSTER_MONGO_NET}/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URI=mongodb://localhost:27017/collaboration-service
DB_USERNAME=user
DB_PASSWORD=password
CORS_ORIGIN=*
PORT=8084
NODE_ENV=development