<div class="container w-full sm:w-22rem">
    <h2 class="mt-0 align-self-start">Log In</h2>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-field">
            <label for="username">Username</label>
            <input pInputText required type="text" id="username" name="username" [(ngModel)]="userForm.username" />
        </div>

        <div class="form-field">
            <label for="password">Password</label>
            <p-password
                required
                inputId="password"
                name="password"
                [(ngModel)]="userForm.password"
                [toggleMask]="true"
                [feedback]="false"
                class="p-fluid" />
        </div>

        <p-button
            type="submit"
            [label]="isProcessingLogin ? '' : 'Log In'"
            [loading]="isProcessingLogin"
            [disabled]="!loginForm.valid"
            styleClass="w-full justify-content-center" />
    </form>

    <p class="mt-4 mb-0">
        Don't have an account?
        <a routerLink="../register" class="text-blue-500 no-underline">Register</a>
    </p>

    <p-toast position="bottom-right" [breakpoints]="{ '920px': { width: '90%' } }" />
</div>
