<div class="container w-full sm:w-22rem">
    <h2 class="mt-0 align-self-start">Register</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-field">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username" pInputText />
            @if (isUsernameInvalid) {
                <small class="text-red-300">
                    The provided username can only contain alphanumeric characters, dots, dashes, and underscores
                </small>
            }
        </div>
        <div class="form-field">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" pInputText />
            @if (isEmailInvalid) {
                <small class="text-red-300">The provided email is invalid</small>
            }
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <p-password
                id="password"
                class="p-fluid"
                formControlName="password"
                [strongRegex]="strongPasswordRegex"
                [toggleMask]="true">
                <ng-template pTemplate="footer">
                    <p-divider />
                    <p class="mt-1 text-sm">Your password must contain:</p>
                    <ul class="pl-2 ml-2 mt-0 text-sm line-height-3">
                        <li>At least one lowercase</li>
                        <li>At least one uppercase</li>
                        <li>At least one numeric</li>
                        <li>At least one special character</li>
                        <li>Minimum 8 characters</li>
                    </ul>
                </ng-template>
            </p-password>
            @if (isPasswordWeak) {
                <small class="text-red-300">The provided password is too weak</small>
            } @else if (isPasswordInvalid) {
                <small class="text-red-300">The provided password contains invalid characters</small>
            }
        </div>
        <div class="form-field">
            <label for="confirmPassword">Confirm Password</label>
            <p-password
                id="confirmPassword"
                class="p-fluid"
                formControlName="confirmPassword"
                [toggleMask]="true"
                [feedback]="false" />
            @if (hasPasswordMismatch) {
                <small class="text-red-300">The provided passwords do not match!</small>
            }
        </div>
        <p-button
            type="submit"
            [label]="isProcessingRegistration ? '' : 'Register'"
            [loading]="isProcessingRegistration"
            [disabled]="!userForm.valid"
            styleClass="w-full justify-content-center" />
    </form>

    <p class="mt-4 mb-0">
        Already have an account?
        <a routerLink="../login" class="text-blue-500 no-underline">Log In</a>
    </p>

    <p-toast position="bottom-right" [breakpoints]="{ '920px': { width: '90%' } }" />
</div>
