<p-dialog
    styleClass="w-11 sm:w-22rem"
    [(visible)]="isVisible"
    [modal]="true"
    [draggable]="false"
    [closeOnEscape]="false"
    [closable]="true"
    (onHide)="closeDialog()">
    <ng-template pTemplate="header">
        <h2 class="my-0">Edit Password</h2>
    </ng-template>

    <div class="w-full">
        <form
            [formGroup]="editPasswordForm"
            (keydown.enter)="onPasswordSubmit()"
            (ngSubmit)="onPasswordSubmit()"
            class="form-container">
            <div class="form-field">
                <div class="flex flex-row align-items-center gap-2">
                    <i class="pi pi-lock"></i>
                    <label for="editPasswordPassword">Old Password</label>
                </div>
                <p-password
                    inputId="editPasswordPassword"
                    name="editPasswordPassword"
                    class="p-fluid"
                    formControlName="oldPassword"
                    [toggleMask]="true"
                    [feedback]="false">
                </p-password>
            </div>

            <div class="form-field">
                <div class="flex flex-row align-items-center gap-2">
                    <i class="pi pi-lock"></i>
                    <label for="editPasswordNewPassword">New Password</label>
                </div>
                <p-password
                    inputId="editPasswordNewPassword"
                    name="editPasswordNewPassword"
                    class="p-fluid"
                    formControlName="password"
                    [toggleMask]="true"
                    [feedback]="false">
                </p-password>

                @if (formUtils.isPasswordInvalid(editPasswordForm)) {
                    <small class="text-red-300">The provided password contains invalid characters</small>
                }

                @if (formUtils.isPasswordControlDirty(editPasswordForm)) {
                    <ul class="pl-0 m-0 text-sm line-height-3">
                        @if (formUtils.isPasswordWeak(editPasswordForm)) {
                            @for (req of passwordRequirements; track $index) {
                                <li class="flex gap-2 align-items-center">
                                    <i
                                        class="pi text-sm"
                                        [ngClass]="
                                            req.check() ? 'pi-times text-gray-300' : 'pi-check text-green-300'
                                        "></i>
                                    <p class="m-0" [ngClass]="req.check() ? 'text-gray-300' : 'text-green-300'">
                                        {{ req.msg }}
                                    </p>
                                </li>
                            }
                        } @else if (formUtils.isPasswordStrong(editPasswordForm)) {
                            <li class="flex gap-2 align-items-center">
                                <i class="pi pi-check text-sm text-green-300"></i>
                                <p class="m-0 text-sm text-green-300">Your password is strong enough!</p>
                            </li>
                        }
                    </ul>
                }
            </div>

            <div class="form-field">
                <div class="flex flex-row align-items-center gap-2">
                    <i class="pi pi-check-square"></i>
                    <label for="confirmPassword">Confirm Password</label>
                </div>
                <p-password
                    inputId="confirmPassword"
                    name="confirmPassword"
                    class="p-fluid"
                    formControlName="confirmPassword"
                    [toggleMask]="true"
                    [feedback]="false" />
                @if (formUtils.hasPasswordMismatch(editPasswordForm)) {
                    <small class="text-red-300">The provided passwords do not match!</small>
                }
            </div>
        </form>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            type="submit"
            [label]="isProcessingPassword ? '' : 'Confirm Edit'"
            [loading]="isProcessingPassword"
            styleClass="w-full justify-content-center"
            [disabled]="isProcessingPassword || !editPasswordForm.valid"
            (click)="onPasswordSubmit()">
        </p-button>
    </ng-template>
</p-dialog>
