<div class="card flex flex-column" style="height: calc(100vh - 128px)">
    <div class="container flex flex-1 flex-column overflow-hidden pb-2">
        <div class="flex-1 overflow-hidden w-full p-4">
            <p class="m-0 mb-2 header">Editor</p>
            <p-scrollPanel [style]="{ height: 'calc(100% - 75px)' }" class="h-full w-full scroll-panel overflow-auto">
                <div #editor class="editor-content"></div>
            </p-scrollPanel>
            <footer class="mt-2">
                <div class="flex flex-row justify-content-between gap-2">
                    <div>
                        <p-button icon="pi pi-pen-to-square" label="Format" severity="contrast" (onClick)="format()" />
                    </div>
                    <div class="flex flex-row gap-2">
                        <p-button icon="pi pi-times" label="Forfeit" severity="contrast" (onClick)="forfeit()" />
                        <p-button icon="pi pi-check" label="Submit" severity="success" (onClick)="showSubmitDialog()" />
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<p-toast position="top-right" [breakpoints]="{ '920px': { width: '80%' } }" styleClass="w-30rem" />

<app-submit-dialog
    (dialogClose)="onSubmitDialogClose($event)"
    (successfulSubmit)="onSuccess()"
    [numUniqueUsers]="numUniqueUsers"
    [ydoc]="ydoc"
    [roomId]="roomId"
    [isVisible]="isSubmit"
    [isInitiator]="isInitiator" />
<app-forfeit-dialog
    (notify)="forfeitNotify()"
    (dialogClose)="onForfeitDialogClose()"
    [yforfeit]="yforfeit"
    [roomId]="roomId"
    [isVisible]="isForfeitClick" />
