<div class="card flex flex-column" style="height: 100vh">
    <!-- <p-scrollPanel
        [style]="{ height: '100%' }"
        class="container flex-auto mx-4 p-4 align-items-start scroll-panel overflow-auto">
        <div #editor class="editor-content p-0 m-0"></div>
    </p-scrollPanel> -->
    <div class="container flex flex-1 flex-col overflow-hidden pb-2 m-4">
        <div class="flex-1 overflow-hidden w-full p-4">
            <!-- <div class="h-full w-full scroll-panel overflow-auto">
                <div #editor class="editor-content"></div>
            </div> -->
            <p class="m-0 mb-2 header">&lt;/&gt;Code</p>
            <p-scrollPanel [style]="{ height: '90%' }" class="h-full w-full scroll-panel overflow-auto">
                <div #editor class="editor-content"></div>
            </p-scrollPanel>
            <footer class="mt-2">
                <div class="flex flex-row justify-content-end gap-2">
                    <p-button label="Forfeit" severity="contrast" />
                    <p-button label="Submit" severity="success" />
                </div>
            </footer>
        </div>
    </div>
</div>
