# This is a sample environment configuration file.
# Copy this file to .env and replace the placeholder values with your own.
DB_CLOUD_URI=<FILL-THIS-IN>
DB_LOCAL_URI=mongodb://match-db:27017/match
DB_USERNAME=user
DB_PASSWORD=password
BROKER_URL=amqp://match-broker:5672
PORT=8083