.flex-50 {
    flex: 0 50%;
}

::ng-deep .header {
    font-size: 25px;
    font-weight: 500;
}

::ng-deep .background {
    background-color: #121212;
}

::ng-deep .container {
    background-color: var(--surface-section);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

::ng-deep .b1 {
    height: calc(100% - 80px);
}
