<div class="wrapper">
    <div class="container w-full sm:w-22rem">
        <h2 class="mt-0 align-self-start">Profile</h2>

        <div class="profile-container">
            <div class="profile-field">
                <div class="flex flex-row align-items-center gap-2">
                    <i class="pi pi-user"></i>
                    <label for="current username">Username</label>
                </div>
                <input pInputText id="current username" [value]="user?.username" type="text" readonly style="font-size: 1rem" />
            </div>
            <div class="profile-field">
                <div class="flex flex-row align-items-center gap-2">
                    <i class="pi pi-envelope"></i>
                    <label for="current email">Email</label>
                </div>
                <input pInputText id="current email" [value]="user?.email" type="email" readonly style="font-size: 1rem" />
            </div>
        </div>
        
        <p-button 
            type="button" 
            label="Update Username and/or Email" 
            styleClass="w-full justify-content-center mt-4"
            (click)="onUpdateProfile()" />
        
        <p-button 
            type="button"
            label="Update Password" 
            styleClass="w-full justify-content-center mt-4" 
            (click)="onUpdatePassword()" />
    </div>

    @if (showEditProfile) {
        <p-divider layout="vertical" [style]="{height: '30rem'}"></p-divider>

        <ng-container>
            <div class="container w-full sm:w-22rem">
                <h2 class="mt-0 align-self-start">Edit Profile</h2>
                    <form [formGroup]="editProfileForm" (ngSubmit)="onEditSubmit()" class="profile-container">
                        <div class="form-field">
                            <div class="flex flex-row align-items-center gap-2">
                                <i class="pi pi-user"></i>
                                <label for="username">Username</label>
                            </div>
                            <input id="username" type="text" formControlName="username" pInputText/>
                            @if (formUtils.isUsernameInvalid(editProfileForm)) {
                                <small class="text-red-300">
                                    The provided username can only contain alphanumeric characters, dots, dashes, and underscores
                                </small>
                            }
                        </div>
                        <div class="form-field">
                            <div class="flex flex-row align-items-center gap-2">
                                <i class="pi pi-envelope"></i>
                                <label for="email">Email</label>
                            </div>
                            <input id="email" type="email" formControlName="email" pInputText/>
                            @if (formUtils.isEmailInvalid(editProfileForm)) {
                                <small class="text-red-300">The provided email is invalid</small>
                            }
                        </div>
                        <div class="form-field">
                            <div class="flex flex-row align-items-center gap-2">
                                <i class="pi pi-lock"></i>
                                <label for="password">Password</label>
                            </div>
                            <p-password
                                inputId="password"
                                name="password"
                                class="p-fluid"
                                formControlName="password"
                                [toggleMask]="true"
                                [feedback]="false">
                            </p-password>
                        </div>
                    </form>
                
                <p-button 
                    type="submit"
                    [label]="isProcessingEdit ? '' : 'Confirm Edit'"
                    [loading]="isProcessingEdit"
                    styleClass="w-full justify-content-center mt-4"
                    [disabled]="isProcessingEdit || !editProfileForm.valid"
                    (click)="onEditSubmit()">
                </p-button>
            </div>
        </ng-container>
        
    } @else if (showEditPassword) {
        <p-divider layout="vertical" [style]="{height: '30rem'}"></p-divider>

        <ng-container>
            <div class="container w-full sm:w-22rem">
                <h2 class="mt-0 align-self-start">Edit Profile</h2>
                    <form [formGroup]="editPasswordForm" (ngSubmit)="onPasswordSubmit()" class="profile-container">
                        <div class="form-field">
                            <div class="flex flex-row align-items-center gap-2">
                                <i class="pi pi-lock"></i>
                                <label for="password">Old Password</label>
                            </div>
                            <p-password
                                inputId="password"
                                name="password"
                                class="p-fluid"
                                formControlName="oldPassword"
                                [toggleMask]="true"
                                [feedback]="false">
                            </p-password>
                        </div>

                        <div class="form-field">
                            <div class="flex flex-row align-items-center gap-2">
                                <i class="pi pi-lock"></i>
                                <label for="password">New Password</label>
                            </div>
                            <p-password
                                inputId="password"
                                name="password"
                                class="p-fluid"
                                formControlName="password"
                                [toggleMask]="true"
                                [feedback]="false">
                            </p-password>
                
                            @if (formUtils.isPasswordInvalid(editPasswordForm)) {
                                <small class="text-red-300">The provided password contains invalid characters</small>
                            }
                
                            @if (formUtils.isPasswordControlDirty(editPasswordForm)) {
                                <ul class="pl-0 m-0 text-sm line-height-3">
                                    @if (formUtils.isPasswordWeak(editPasswordForm)) {
                                        @for (req of passwordRequirements; track $index) {
                                            <li class="flex gap-2 align-items-center">
                                                <i
                                                    class="pi text-sm"
                                                    [ngClass]="req.check() ? 'pi-times text-gray-300' : 'pi-check text-green-300'"></i>
                                                <p class="m-0" [ngClass]="req.check() ? 'text-gray-300' : 'text-green-300'">
                                                    {{ req.msg }}
                                                </p>
                                            </li>
                                        }
                                    } @else if (formUtils.isPasswordStrong(editPasswordForm)) {
                                        <li class="flex gap-2 align-items-center">
                                            <i class="pi pi-check text-sm text-green-300"></i>
                                            <p class="m-0 text-sm text-green-300">Your password is strong enough!</p>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                
                        <div class="form-field">
                            <div class="flex flex-row align-items-center gap-2">
                                <i class="pi pi-check-square"></i>
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                            <p-password
                                inputId="confirmPassword"
                                name="confirmPassword"
                                class="p-fluid"
                                formControlName="confirmPassword"
                                [toggleMask]="true"
                                [feedback]="false" />
                            @if (formUtils.hasPasswordMismatch(editPasswordForm)) {
                                <small class="text-red-300">The provided passwords do not match!</small>
                            }
                        </div>
                    </form>

                    <p-button 
                            type="submit"
                            [label]="isProcessingPassword ? '' : 'Confirm Edit'"
                            [loading]="isProcessingPassword"
                            styleClass="w-full justify-content-center mt-4"
                            [disabled]="isProcessingPassword || !editPasswordForm.valid"
                            (click)="onPasswordSubmit()">
                    </p-button>
            </div>
        </ng-container>
    }

    <p-toast position="bottom-right"></p-toast>

</div>