<div class="container w-full sm:w-22rem">
    <h2 class="mt-0 align-self-start">Profile</h2>

    <div class="profile-container">
        <div class="profile-field">
            <div class="flex flex-row align-items-center gap-2">
                <i class="pi pi-user"></i>
                <label for="currentUsername">Username</label>
            </div>
            <input
                pInputText
                id="currentUsername"
                [value]="user?.username"
                type="text"
                readonly
                style="font-size: 1rem" />
        </div>
        <div class="profile-field">
            <div class="flex flex-row align-items-center gap-2">
                <i class="pi pi-envelope"></i>
                <label for="currentEmail">Email</label>
            </div>
            <input pInputText id="currentEmail" [value]="user?.email" type="email" readonly style="font-size: 1rem" />
        </div>
    </div>

    <p-button
        type="button"
        label="Update Username and/or Email"
        styleClass="w-full justify-content-center mt-4"
        (click)="onUpdateProfile()" />

    <p-button
        type="button"
        label="Update Password"
        styleClass="w-full justify-content-center mt-4"
        (click)="onUpdatePassword()" />

    <app-edit-profile-dialog [isVisible]="showEditProfile" [user]="user" (dialogClose)="onEditProfileDialogClose()" />
    <app-edit-password-dialog
        [isVisible]="showEditPassword"
        [user]="user"
        (dialogClose)="onEditPasswordDialogClose()" />

    <p-toast position="bottom-right" [breakpoints]="{ '920px': { width: '90%' } }" />
</div>
