<div class="card mx-8">
    <p-progressSpinner
        class="flex align-items-center justify-content-center h-screen"
        *ngIf="loading"
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        animationDuration=".5s" />
    <p-toast />
    <ng-container *ngIf="!loading">
        <p-toolbar *ngIf="isAdmin" styleClass="mt-4 mb-2 gap-2">
            <div class="p-justify-end">
                <p-button
                    icon="pi pi-plus"
                    severity="primary"
                    [outlined]="true"
                    label="New"
                    class="mr-2"
                    (onClick)="openNewQuestion()" />
                <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    label="Delete"
                    (onClick)="deleteSelectedQuestions()"
                    [disabled]="!selectedQuestions || !selectedQuestions.length" />
            </div>
        </p-toolbar>
        <div class="table-container" style="max-width: 1000px; margin: 0 auto">
            <p-table
                sortField="id"
                [sortOrder]="1"
                [columns]="cols"
                [value]="questions"
                [(selection)]="selectedQuestions"
                datakey="id"
                [tableStyle]="{ 'table-layout': 'fixed', width: '100%', 'text-align': 'center' }"
                [paginator]="true"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                styleClass="p-datatable-gridlines-striped">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <h3 class="m-0">Questions</h3>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngIf="isAdmin" style="width: 5%"><p-tableHeaderCheckbox /></th>
                        <th pSortableColumn="id" style="width: 5%">Id <p-sortIcon field="id" /></th>
                        <th style="width: 20%">Title</th>
                        <th style="width: 20%">Topics</th>
                        <th style="width: 7%">Difficulty</th>
                        <th *ngIf="isAdmin" style="width: 6%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-question>
                    <tr (click)="onRowSelect(question)">
                        <td *ngIf="isAdmin">
                            <p-tableCheckbox [value]="question" />
                        </td>
                        <td>{{ question.id }}</td>
                        <td>{{ question.title }}</td>
                        <td>{{ question.topics.join(', ') }}</td>
                        <td>{{ question.difficulty }}</td>
                        <td *ngIf="isAdmin">
                            <p-button
                                label="Edit"
                                severity="primary"
                                icon="pi pi-file-edit"
                                class="mr-2"
                                [text]="true"
                                (onClick)="editQuestion(question)" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-container>
    <app-question-dialog
        [isDialogVisible]="isDialogVisible"
        [question]="question"
        (dialogClose)="onDialogClose()"
        (questionUpdate)="onQuestionUpdate($event)"
        (questionAdd)="onQuestionAdd($event)"
        (errorReceive)="onErrorReceive($event)"
        (successfulRequest)="onSuccessfulRequest($event)">
    </app-question-dialog>
    <p-confirmDialog [style]="{ width: '450px' }" />
    <div class="sliding-panel" [class.open]="isPanelVisible">
        <div class="panel-header">
            <h4>{{ clickedOnQuestion?.title }}</h4>
            <p-button
                icon="pi pi-times"
                severity="secondary"
                label="Close"
                (onClick)="closePanel()"
                class="p-button-text" />
        </div>
        <div class="panel-content">
            <p style="white-space: pre-wrap">{{ clickedOnQuestion?.description }}</p>
        </div>
    </div>
</div>
