<div class="container">
    <div class="form-wrapper w-full sm:w-30rem">
        <h2 class="mt-0 mb-1">Matching Criteria</h2>
        <p class="mt-0">Select any one criteria to start matching!</p>
        <form [formGroup]="matchForm" class="flex flex-column gap-3">
            <div class="form-field">
                <label for="topic">Topic</label>
                <p-multiSelect
                    name="topic"
                    [options]="availableTopics"
                    formControlName="topics"
                    placeholder="No Topic Selected"
                    [loading]="isLoadingTopics"
                    [showClear]="true"
                    (onClear)="topicControl.reset([])"
                    [maxSelectedLabels]="0"
                    selectedItemsLabel="{{ topics.length }} topic{{ topics.length > 1 ? 's' : '' }} selected"
                    class="p-fluid" />

                @if (topics) {
                    <div class="flex flex-wrap gap-2">
                        @for (topic of topics; track topic) {
                            <p-chip
                                [label]="topic"
                                removable="true"
                                (onRemove)="removeTopic(topic)"
                                styleClass="text-sm" />
                        }
                    </div>
                }
            </div>

            <div class="form-field">
                <label for="difficulty">Difficulty</label>
                <p-dropdown
                    name="difficulty"
                    [options]="availableDifficulties"
                    formControlName="difficulty"
                    placeholder="No Difficulty Selected"
                    [showClear]="true"
                    class="p-fluid" />
            </div>

            @if (hasNoQuestions) {
                <small class="text-red-300">
                    No questions were found for the selected topics and difficulty. Please change your selection.
                </small>
            }

            <p-button
                type="submit"
                [label]="isProcessingMatch ? '' : 'Start Matching'"
                [loading]="isProcessingMatch"
                [disabled]="!matchForm.valid"
                (click)="onMatch()"
                styleClass="w-full justify-content-center" />
        </form>
    </div>

    <app-finding-match
        [userCriteria]="{ topics: topics, difficulty: difficulty }"
        [isVisible]="isProcessingMatch"
        (matchFailed)="onMatchFailed()"
        (dialogClose)="onMatchDialogClose()" />
    <app-retry-matching
        [isVisible]="isMatchFailed"
        (retryMatch)="onRetryMatchRequest()"
        (dialogClose)="onRetryMatchDialogClose()" />
</div>
